.menu {
	text-align: center;
	margin-top: 20px;
}
.menu ul{
	margin: 0;
	padding-left: 0;
	list-style-type: none;

}

.menu li{
	display: inline-block;
	padding-right:10px;
}

ul a {
	color: #333333;
}

.menu a {
	text-decoration: none;
	font-weight: bold;
	padding:5px;
}

.menu a:hover{
	color: #F8F8F9;
	background-color: rgb(255, 208, 6);
}
