@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*.menu{
	position: fixed;
	z-index: 1;
	right: 5%;
  	bottom: 30px;
  	transform: scale(0);
  	transform-origin: right bottom;
  	transition: transform 0.2s;
}

*/

.title{
    clear: both;
}

 .hometitle{
	padding-top: 20px;
	font-size: 30px;
    clear: both;
}

.bottom{
	padding-top:40px;
	padding-bottom: 20px;
	text-align: center;
	overflow: auto;
	clear:right;
}
