@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.big {
	text-align: center;
	font-size: 40px;
}

section {
	margin: 20px;
	padding: 10px;
	border: 10px solid transparent;
    border-image: url(../images/border-img.svg) 30 round;
	overflow: hidden;
}

section p {
	font-size: 20px;
}

.img-left {
	float: left;
	margin: 10px;
	width: 33.3%;
}

.img-left img {
	padding-left: 8px;
}

.img-right {
	float: right;
	margin: 10px;
	width: 33.3%;
}

.bottom{
	padding-top:40px;
	padding-bottom: 20px;
	text-align: center;
	clear:right;
}
