@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body{
    background-color: darkblue;
    color:darkslateblue;
    font-family: 'Bree Serif', serif;
    font-size: 14px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5{
    font-family: 'Fredoka One', cursive;
}
